langchain==0.0.277
# pinecone-client==2.2.2
tiktoken==0.4.0
python-dotenv==1.0.0
PyPDF2==3.0.1
pypdf==3.15.5
openai==0.28.0
# chroma-hnswlib==0.7.3
# chromadb==0.4.10
faiss-cpu==1.7.4
# sqlite3>=3.35.0
# pysqlite
# SQLAlchemy==2.0.20
streamlit-chat==0.1.1

